
#divLoginContentWrapper{
	padding: 20px 0px 0px 0px;
	margin-left: 20px;
}
#divLoginContentBody{
	padding: 20px 0px 0px 0px;
	width: 297px;
}

input[type=text],[type=password]{
	padding-left: 35px;
	width: 250px;
}

#txtUsername{
	background: url('../../../images/textusername.png') no-repeat;
	background-size: 16px;
	background-position: 10px 5px;
}
#txtPassword{
	background: url('../../../images/textpassword.png') no-repeat;
	background-size: 16px;
	background-position: 10px 5px;
}

#divButton{
	padding: 10px 0px 0px 0px;
	float: right;
}

#btnButton{
	width: 100px;
}
